unstructured
langchain
python-dotenv
langchain-community
langchain-groq
validators==0.28.1
streamlit
pytube
git+https://github.com/openai/whisper.git
yt-dlp
torch
youtube-transcript-api
ffmpeg